body {
    background-image: url("../images/battlebackground.png");
    background-size: cover;
    height: 97vh;
}

.bookButton {
    background: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.bookImage {
    width: 25vh;
    transition: filter 0.3s;
}

.bookImage:hover {
    filter: brightness(1.5);
}

.bottomContainer {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    height: 59vh;
}

.container {
    align-content: space-between;
    display: flex;
    flex-direction: column;
}

.pokeballButton {
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative; /* not sure if needed */
}

.pokeballImage {
    transition: filter 0.3s;
    width: 17vh;
}

.pokeballImage:hover {
    animation: wiggle 1s ease infinite;
    filter: brightness(1.2);
}

@keyframes wiggle {
    0% {
        transform: rotate(0) translateX(0) translateY(0);
    }
    10% {
        transform: rotate(2deg) translateX(-1px) translateY(-1px);
    }
    20% {
        transform: rotate(-2deg) translateX(1px) translateY(1px);
    }
    30% {
        transform: rotate(1deg) translateX(-0.5px) translateY(-0.5px);
    }
    40% {
        transform: rotate(-1deg) translateX(0.5px) translateY(0.5px);
    }
    50% {
        transform: rotate(0.5deg) translateX(0) translateY(0);
    }
    60% {
        transform: rotate(-0.5deg) translateX(0) translateY(0);
    }
    70% {
        transform: rotate(0) translateX(0) translateY(0);
    }
    100% {
        transform: rotate(0) translateX(0) translateY(0);
    }
}

.pokeballButton:hover + .startText {
    filter: brightness(1.2);
}

.rules {
    flex: 0 1 auto;
    margin-left: auto;
}

.startContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}


.startText {
    color: #fdc905;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2.5vh;
    margin-top: 1.5vh;
    text-align: center;
    text-shadow:
            -1.5px -1.5px 0 #395ea9,
            1.5px -1.5px 0 #395ea9,
            -1.5px  1.5px 0 #395ea9,
            1.5px  1.5px 0 #395ea9;
    transition: filter 0.3s;
}

.title {
    flex: 0 1 auto;
    left: 49%;
    margin-top: 20vh;
    position: absolute;
    transform: translateX(-50%);
}

.titleImage {
    width: 77vh;
}

.topContainer {
    align-items: center;
    display: flex;
    height: 25vh;
    justify-content: center;
}