.game-field {
  width: 100%;
  height: 0;
  padding-top: 50%; /* Set the padding-top for a 1040px by 520px aspect ratio */
  background-image: url("../images/gamefield.jpg");
  background-size: cover;
  background-position: center;
  border: 1vh solid darkslategrey;
  border-radius: 2vh;
  z-index: 1;
}

.image-container {
  position: relative;
  width: 100%;
  /* Set the desired aspect ratio (e.g., 16:9) */
  padding-top: 50%; /* This is the aspect ratio (9/16 = 0.5625 or 56.25%) */
  overflow: hidden;
  border: 10px solid darkslategrey;
  border-radius: 15px;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container while maintaining its aspect ratio */
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Additional styling for the overlay content */
}

.game-content {
  z-index: 2;
  top: 7em
}

.turn {
  color: @fontColour;
  font-family: 'Pokemon Fire Red', sans-serif;
  font-size: 4vh;
  text-align: center;
  text-transform: uppercase;
  text-shadow: @textShadow;
}

.pokemon-status {
  background-color: antiquewhite;
  border-radius: 15px;
  color: @fontColour;
  font-family: 'Pokemon Fire Red', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: @textShadow;
  width: 40%;
  margin-left: 20%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4px;
}

.pokemon-name {
  text-transform: uppercase;
}


.menu-field {
  background-color: beige;
  border: 1vh solid darkslategrey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 75% !important;
  margin-top: 2% !important;
  padding-bottom: 2%;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  gap: 2vh;
}

.button-style {
  //min-width: 90px;
  display: inline-block;
  padding: 8px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Pokemon Fire Red', sans-serif;
}

.fight-button {
  background-color: #FF6347;
  border: 10px solid #FF4500;
  letter-spacing: 0.2vh;
  text-transform: uppercase;
}

.fight-button:hover {
  background-color: #FF4500;
}

.switch-button {
  background-color: #4CAF50;
  border: 10px solid #4CAF50;
  letter-spacing: 0.2vh;
  text-transform: uppercase;
}

.switch-button:hover {
  background-color: #45a049;
}

.pokemon-button {
  align-items: center;
  background-color: #F6F6F6;
  border: 5px solid #7b7b7b;
  border-radius: 15px;
  color: @fontColour;
  cursor: pointer;
  display: flex;
  font-family: 'Pokemon Fire Red', sans-serif;
  justify-content: center;
  padding: 10px 20px;
  text-shadow: @textShadow;
  transition: background-color 0.3s, border-color 0.3s;
}

.pokemon-button:hover {
  background-color: #FFF;
  border-color: #000;
}

.small {
  font-size: 2rem !important;
}

.pokemon-health-background {
  width: 4em; /* Adjust the width of the health bar as needed */
  height: 20px; /* Adjust the height of the health bar as needed */
  border: 1px solid #000;
  overflow: hidden;
  background-color: #7b7b7b;
}

.pokemon-health-bar {
  height: 100%;
  background-color: #4CAF50;
  transition: width 0.5s ease;
  font-size: 0.9rem;
  text-shadow: none;
}



