.game-field {
  background-image: url("../images/gamefield.jpg");
  background-size: cover;
  background-position: center;
  border: 1vh solid darkslategrey;
  border-radius: 2vh;
  display: grid;
  font-family: 'Pokemon Fire Red', sans-serif;
  gap: 1vh;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  margin-top: 4vh !important;
  max-width: 75% !important;
}

.turn {
  color: @fontColour;
  font-family: 'Pokemon Fire Red', sans-serif;
  font-size: 4vh;
  text-align: center;
  text-transform: uppercase;
  text-shadow: @textShadow;
}

.pokemon-status {
  background-color: antiquewhite;
  border-radius: 15px;
  color: @fontColour;
  font-family: 'Pokemon Fire Red', sans-serif;
  font-size: 3rem;
  text-align: center;
  text-shadow: @textShadow;
  width: 18rem;
}

.pokemon-name {
  font-size: 2rem;
  text-transform: uppercase;
}

.pokemon-health {
  font-size: 2rem;
}

.pokemon-status-wrapper-p1 {
  grid-row: 2;
  grid-column: 2;
  margin-top: 15%;
  display: flex;
  align-items: center;
}

.pokemon-status-wrapper-p2 {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pokemon-wrapper-p1 {
  grid-row: 2;
  grid-column: 1;
  margin-left: 5%;
}

.pokemon-wrapper-p2 {
  grid-row: 1;
  grid-column: 2;
  margin-top: 14vh;
  margin-left: 5vh;
}

.menu-field {
  background-color: beige;
  border: 1vh solid darkslategrey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 75% !important;
  margin-top: 2% !important;
  padding-bottom: 2%;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  gap: 2vh;
}

.button-style {
  //min-width: 90px;
  display: inline-block;
  padding: 8px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Pokemon Fire Red', sans-serif;
}

.fight-button {
  background-color: #FF6347;
  border: 10px solid #FF4500;
  letter-spacing: 0.2vh;
  text-transform: uppercase;
}

.fight-button:hover {
  background-color: #FF4500;
}

.switch-button {
  background-color: #4CAF50;
  border: 10px solid #4CAF50;
  letter-spacing: 0.2vh;
  text-transform: uppercase;
}

.switch-button:hover {
  background-color: #45a049;
}

.pokemon-button {
  align-items: center;
  background-color: #F6F6F6;
  border: 5px solid #7b7b7b;
  border-radius: 15px;
  color: @fontColour;
  cursor: pointer;
  display: flex;
  font-family: 'Pokemon Fire Red', sans-serif;
  justify-content: center;
  padding: 10px 20px;
  text-shadow: @textShadow;
  transition: background-color 0.3s, border-color 0.3s;
}

.pokemon-button:hover {
  background-color: #FFF;
  border-color: #000;
}

.small {
  font-size: 2rem !important;
}

.switch-link {
  text-decoration: none;
}



