@import "gamefield";
@import "pokemonChoose";

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  background-image: url('../images/background.jpeg'); /* Replace with the path to your image */
  background-size: cover; /* Adjust to cover the entire viewport */
  background-repeat: no-repeat; /* Prevent image repetition */
}
