@font-face {
  font-family: 'Pokemon Fire Red';
  src: url('../fonts/pokemon_fire_red.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@titleBackground: url("../images/PlayerNamesTitle.png");
@fontColour: #626262;
@textShadow: 2px 2px rgba(210, 212, 202, 100);

@import "index";
@import "rules";
@import "playerNames";
@import "pokemonChoose";
@import "gamefield";

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  background-image: url('../images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

