@font-face {
  font-family: 'Pokemon Fire Red';
  src: url('../fonts/pokemon_fire_red.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@titleBackground: url("../images/PlayerNamesTitle.png");
@fontColour: #626262;
@navBarColour: rgba(193, 229, 252, 0.94);
@textShadow: 2px 2px rgba(210, 212, 202, 100);

@import "index";
@import "rules";
@import "playerNames";
@import "pokemonChoose";
@import "gamefield";

.alert-warning {
  margin-bottom: -8vh !important;
  z-index: 99 !important;
}

.bi-house::before {
  line-height: 1.27 !important;
}

.bi-book::before {
  line-height: 1.19 !important;
}

.bi-gear::before {
  line-height: 1.15 !important;
}

.custom-navbar {
  background-color: @navBarColour !important;
  height: 5.5%
}

.dropdown-menu {
  --bs-dropdown-bg: @navBarColour !important;
  --bs-dropdown-border-color: none !important;
  --bs-dropdown-link-color: #0d59be !important;
  --bs-dropdown-link-hover-color: #ffffff !important;
  --bs-dropdown-link-hover-bg: rgba(245, 249, 255, 0.27) !important;
  min-width: 0;
}

.dropdown-toggle::after {
  vertical-align: 0.09em !important;
}

.fade-out {
  opacity: 0;
  transition: opacity 5s ease-out;
}

.loading-gif {
  width: 20% !important;
}

.progressBar-gif {
  margin-top: 1vh;
  margin-left: 3.5vh;
  width: 20% !important;
}

#loading-screen {
  align-items: center;
  background: #E5EEF3AF;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navBarFont {
  font-family: 'Pokemon Fire Red', sans-serif;
  font-size: 3vh;
  margin-left: 0.2vh;
}

.nav-link {
  color: #0d59be !important;
}

.nav-link.active {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #e7f7ff !important;
}

.navbar-toggler {
  padding: 0 !important;
}

.titleImage {
  width: 77vh;
  margin-top: 3vh;
}

html {
  font-size: 1rem;
}

body {
  overflow: hidden;

  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  background-image: url('../images/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

