.choosePokemonsTitleContainer {
  .chooseTitleContainer;
  padding-bottom: 5vh;
}

.img-wrapper {
  align-items: center;
  border: 0.5vh solid dimgray;
  background-color: #dddddd;
  border-radius: 2vh;
  color: @fontColour;
  display: flex;
  flex-direction: column;
  font-family: 'Pokemon Fire Red', sans-serif;
  font-size: 3vh;
  justify-content: space-around;
  padding-left: 1vh;
  padding-right: 1vh;
  text-align: center;
  text-shadow: @textShadow;
  text-transform: uppercase;
}

option {
  font-family: 'Pokemon Fire Red', sans-serif;
  font-size: 2.3vh;
  color: @fontColour;
  text-transform: uppercase;
  text-align: center;
  text-shadow: @textShadow;
}

option:hover {
  background-color: @navBarColour;
  color: white;
}

.pokemon-image {
  width: 22vh;
}

.pokemonLabel {
  font-family: 'Pokemon Fire Red', sans-serif;
  font-size: 4vh;
  margin-top: 1vh;
  margin-bottom: -1vh;
  text-shadow: @textShadow;
  text-transform: uppercase;
}

.pokemonSelection {
  align-items: center;
  background-image: @titleBackground;
  background-size: cover;
  color: @fontColour;
  display: flex;
  flex-direction: column;
  height: 13.8vh;
  margin-left: 4vh;
  margin-right: 4vh;
  margin-top: 1vh;
  width: 52.2vh;
}

.pokemonSelectionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

select {
  border-radius: 1vh;
  color: @fontColour;
  font-family: 'Pokemon Fire Red', sans-serif !important;
  font-size: 3.1vh !important;
  height: 4.5vh;
  text-transform: uppercase !important;
  text-shadow: @textShadow;
  width: 15vh;
}

.showcase-box {
  display: flex;
  justify-content: center;
  gap: 2vh;
  margin-bottom: 2vh;
}

.startButtonContainer {
  .confirmButtonContainer;
  padding-top: 3vh;
}