@main("Chat") {
    <div id="page-wrap" class="text-center">
        <div class="row">
            <div class="chooseTitleContainer" style="padding-bottom: 2vh !important;">
                <div class="chooseTitle">POKEMON GAME CHAT</div>
            </div>
        </div>

        <div class="row">
            <div class="chat-area-container">
                <div class="chat-area" id="chat-area"></div>
            </div>
        </div>

        <div class="row">
            <div class="send-message-container">
                <form class="send-message" id="send-message-form" style="display: flex; flex-direction: column;">
                    <div class="user-id" id="userId"></div>
                    <textarea class="send-message-textarea" style="font-family: 'Pokemon Fire Red', sans-serif" id="send-message-box" maxlength = '100'></textarea>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="confirmButtonContainer" style="padding-top: 0 !important;">
                <input class="confirmButton" id="sendMsg" type="button" value="SEND">
            </div>
            <div style="display: flex; flex-direction: column;  align-items: center;">
                <span class="confirm-shadow"></span>
            </div>
        </div>
    </div>
    <script src="@routes.Assets.versioned("javascripts/chat.js")"></script>
}