@import de.htwg.se.pokelite.model.Pokemon
@import de.htwg.se.pokelite.model.PokePack
@(tui: String, gameState: String, turn: Int, pokemonPlayer1: Pokemon, pokemonPlayer2: Pokemon, pokePackPlayer1: PokePack, pokePackPlayer2: PokePack)

@main("PokemonLite") {
    <h2>GameState: @gameState</h2>

    <h2>Turn: Player @turn</h2>

    <div class="game-field">
        <div class="pokemon-status-wrapper-p2">
            @playerStatus(pokemon = pokemonPlayer2.toString)
        </div>
        <div class="pokemon-wrapper-p1">
            @pokemonBack(pokemon = pokemonPlayer1.toString)
        </div>
        <div class="pokemon-wrapper-p2">
            @pokemonFront(pokemon = pokemonPlayer2.toString)
        </div>
        <div class="pokemon-status-wrapper-p1">
            @playerStatus(pokemon = pokemonPlayer1.toString)
        </div>
    </div>

    <div class="menu-field">
        @if(gameState == "DesicionState()") {
            @desicionState()
        } else if(gameState == "FightingState()" && turn == 1) {
            @fightingState(pokemon = pokemonPlayer1)
        } else if(gameState == "FightingState()" && turn == 2) {
            @fightingState(pokemon = pokemonPlayer2)
        } else if(gameState == "SwitchPokemonState()" && turn == 1) {
            @switchPokemonState(pokePack = pokePackPlayer1)
        } else if(gameState == "SwitchPokemonState()" && turn == 2) {
            @switchPokemonState(pokePack = pokePackPlayer2)
        }
    </div>

    <pre>@Html(tui)</pre>

    <form method="GET">
        <input type="text" name="command" />
        <button type="submit">Submit</button>
    </form>
    <br>
}
