@main("Welcome to PokemonLite") {
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title screen</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
  </head>
  <body>
    <!-- autoplay has to be enabled in chrome browser settings -->
    <audio id="titleScreenMusic" autoplay loop >
      <source src="@routes.Assets.versioned("audios/TitleScreenMusic.mp3")" type="audio/mpeg">
      Your browser doesn't support this audio.
    </audio>
    <audio id="buttonSound">
      <source src="@routes.Assets.versioned("audios/buttonClick.mp3")" type="audio/mpeg">
      Your browser doesn't support this audio.
    </audio>
    <div class="container">
      <div class="topContainer">
        <div class="title">
          <img class="titleImage" src="@routes.Assets.versioned("images/Logo.png")" alt="">
        </div>
        <div class="rules">
            <button id="rulesButton" class="bookButton">
              <img class="bookImage" src="@routes.Assets.versioned("images/bookIcon.png")" alt="">
            </button>
        </div>
      </div>
      <div class="bottomContainer">
        <div class="startContainer">
            <button id="startButton" class="pokeballButton">
              <img class="pokeballImage" src="@routes.Assets.versioned("images/pokeball.png")" alt="">
            </button>
            <div class="startText"> Start!</div>
        </div>
      </div>
    </div>
  </body>
  <script>
          const titleScreenMusic = document.getElementById("titleScreenMusic")
          const buttonSound = document.getElementById("buttonSound");
          const rulesButton = document.getElementById("rulesButton");
          const startButton = document.getElementById("startButton");

          titleScreenMusic.volume = 0.2;

          rulesButton.addEventListener("click", () => {
              buttonSound.play();
              setTimeout(() => {
                  window.open("/rules", "_blank");

                  }, 900);
          });

          startButton.addEventListener("click", () => {
              buttonSound.play();

              setTimeout(() => {
                  window.location.href = "/playerNames";
                  }, 900);
          });
  </script>
}
