@import de.htwg.se.pokelite.model.PokemonType
@(player1Name: String, player2Name: String, allPokemons: Array[PokemonType])
@main("Choose your Pokemons") {
    <h2>Choose your Pokemons!</h2>
    <div class="showcase-box">
        @for((pokemon, index) <- allPokemons.zipWithIndex) {
            <div class="img-wrapper">
                @pokemon.name
                <img src="@routes.Assets.versioned("images/pokemons/" + pokemon.name +"Front.gif")" height="200">
            </div>
        }
    </div>
    <form method="POST" action="/initPokemons">
        <label for="player1Pokemon1">@player1Name's Pokemons: </label>
        <select id="player1Pokemon1" name="player1Pokemon1">
            @for((pokemon, index) <- allPokemons.zipWithIndex) {
                <option value="@(index + 1)">
                    @pokemon.name
                </option>
            }
        </select>
        <label for="player1Pokemon2"></label>
        <select id="player1Pokemon2" name="player1Pokemon2">
            @for((pokemon, index) <- allPokemons.zipWithIndex) {
                <option value="@(index + 1)">
                    @pokemon.name
                </option>
            }
        </select>
        <label for="player1Pokemon3"></label>
        <select id="player1Pokemon3" name="player1Pokemon3">
            @for((pokemon, index) <- allPokemons.zipWithIndex) {
                <option value="@(index + 1)">
                    @pokemon.name
                </option>
            }
        </select>
        <br>
        <br>
        <label for="player2Pokemon1">@player2Name's Pokemons: </label>
        <select id="player2Pokemon1" name="player2Pokemon1">
            @for((pokemon, index) <- allPokemons.zipWithIndex) {
                <option value="@(index + 1)">
                    @pokemon.name
                </option>
            }
        </select>
        <label for="player2Pokemon2"></label>
        <select id="player2Pokemon2" name="player2Pokemon2">
            @for((pokemon, index) <- allPokemons.zipWithIndex) {
                <option value="@(index + 1)">
                    @pokemon.name
                </option>
            }
        </select>
        <label for="player2Pokemon3"></label>
        <select id="player2Pokemon3" name="player2Pokemon3">
            @for((pokemon, index) <- allPokemons.zipWithIndex) {
                <option value="@(index + 1)">
                    @pokemon.name
                </option>
            }
        </select>
        <br>
        <br>
        <input type="submit" value="Start">
    </form>
}
