@main("Choose your names") {
    @navbar("playerNames")
    @audio()
    <div class="container-fluid">
        <div class="row">
            <div class="chooseTitleContainer">
                <div class="chooseTitle">CHOOSE YOUR NAMES !</div>
            </div>
        </div>
        <div class="row">
                <div class="playerNamesContainer">
                    <div class="playerName1">
                        <label class="playerName-label" for="player1Name">PLAYER 1  ?</label>
                        <input class="inputNames" type="text" id="player1Name" name="player1Name" required>
                        <span class="cursor" id="cursor1">_</span>
                    </div>
                    <br>
                    <div class="playerName2">
                        <label class="playerName-label" for="player2Name">PLAYER 2  ?</label>
                        <input class="inputNames" type="text" id="player2Name" name="player2Name" required>
                        <span class="cursor" id="cursor2">_</span>
                    </div>
                </div>
                <div class="confirmButtonContainer">
                    <input class="confirmButton" id="confirmButton" type="button" value="CONFIRM">
                </div>
        </div>
    </div>
    <script src="@routes.Assets.versioned("javascripts/playerNames.js")"></script>
}