@(pokemon: String)
<img
    class="img-fluid"
    id="bubbles1"
    src="@routes.Assets.versioned("images/attackGifs/bubbles.gif")"
    alt="pokemon front"
    style="width: 40%; margin-left: 40%; margin-top: -10%; object-fit: contain; display: none; z-index: 2"
>
<img
    class="img-fluid"
    id="fire1"
    src="@routes.Assets.versioned("images/attackGifs/fire.gif")"
    alt="pokemon front"
    style="width: 40%; margin-left: 40%; margin-top: -10%; object-fit: contain; display: none; z-index: 2"
>
<img
    class="img-fluid"
    id="punch1"
    src="@routes.Assets.versioned("images/attackGifs/punch.gif")"
    alt="pokemon front"
    style="width: 40%; margin-left: 40%; margin-top: -10%; object-fit: contain; display: none; z-index: 2"
>
<img
    class="img-fluid"
    src="@routes.Assets.versioned("images/pokemons/" + pokemon.split("\\s+").headOption.getOrElse("") + "Back.gif")"
    alt="pokemon back"
    style="width: 40%; margin-left: 40%; margin-top: -10%; object-fit: contain"
>
