<!DOCTYPE html>

<html lang="de">
    <head>
        <title>PokemonLite</title>
        <!--<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/rules.css")"> -->
    </head>
    <body>
        <div class="Body">
            <div class="title">
                    <!-- <img src="@routes.Assets.versioned("images/title.png")">  TO DO: get the nice PokemonLite Title -->
            </div>
            <h2>How to play: </h2>
            <p> TO DO: ... </p>

            <h2>Rules: </h2>
            <p> TO DO: ... </p>

            <h2>History of PokemonLite: </h2>
            <p> TO DO: ... </p>
        </div>
    </body>
    <div> <!-- prob unnecessary because the rules open in a new tab -->
        <a href="/">Return to Start</a>
    </div>
</html>